<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quote</title>
    <!-- iconj.com favicon code -->
    <link rel="shortcut icon" href="http://www.iconj.com/icon.php?pid=stcvi43iv1" type="image/x-icon" />
    <link rel="shortcut icon" href="http://www.iconj.com/gif_icon.php?pid=stcvi43iv1" type="image/gif" />
    <!-- end of iconj.com favicon code -->
<body>
    <div>
        <h1>"<%= quote %>"</h1>
        <h3>Author: <%= author %></h3>
        <!--Guza latino - Panama, uzak struk - tanana. Sija, platinom uvija k'o Ducati šikanama.-->
    </div>
</body>
</html>